//@font-face {
//  font-family: 'noomb-icon';
//  src:  url('../../fonts/noomb-icon.eot?pfvlk');
//  src:  url('../../fonts/noomb-icon.eot?pfvlk#iefix') format('embedded-opentype'),
//  url('../../fonts/noomb-icon.ttf?pfvlk') format('truetype'),
//  url('../../fonts/noomb-icon.woff?pfvlk') format('woff'),
//  url('../../fonts/noomb-icon.svg?pfvlk#noomb-icon') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../fonts/Roboto-Bold/Roboto-Bold.eot');
  src: local('☺'),
  url('../../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
  url('../../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
  url('../../fonts/Roboto-Bold/Roboto-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../../fonts/Roboto-Light/Roboto-Light.eot');
  src: local('☺'),
  url('../../fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
  url('../../fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'),
  url('../../fonts/Roboto-Light/Roboto-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../fonts/Roboto-Medium/Roboto-Medium.eot');
  src: local('☺'),
  url('../../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
  url('../../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype'),
  url('../../fonts/Roboto-Medium/Roboto-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../fonts/Roboto-Regular/Roboto-Regular.eot');
  src: local('☺'),
  url('../../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
  url('../../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
  url('../../fonts/Roboto-Regular/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}