.index-bg {
  min-height: 420px;
  background-position: 50% 50% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media(max-width: $sm-device) {
    height: auto;
  }

  &__h1 {
    font-size: 27px;
    font-family: $bold;
    color: $white;
    font-weight: normal;
  }
  &__h2 {
    font-size: 18px;
    color: $white;
    font-family: $light;
  }
  &__text {
    color: $white;
  }
  &__btn {
    padding: 8px 12px;
    min-width: 166px;
  }
  &__top {
    padding-bottom: 40px;
    @media(max-width: $sm-device) {
      padding-bottom: 15px;
    }
    @media(max-width: $xs-device) {
      padding-bottom: 0;
    }
  }
  &__bottom {
    padding-top: 40px;
    @media(max-width: $sm-device) {
      padding-top: 15px;
    }
    @media(max-width: $xs-device) {
      padding-top: 0;
    }
  }
}

.g-search {
  position: relative;
  &__box {
    display: flex;
    @media(max-width: $sm-device) {
      flex-direction: column;
    }
  }
  .btn {
    white-space: nowrap;
    margin-left: 10px;
    @media(max-width: $sm-device) {
      margin-left: 0;
      margin-top: 10px;
      display: block;
    }
  }
}

.suggest-list-container {
  position: relative;
  .l-search-button {
    right: 0;
    top: 0;
  }
}

.suggest-list {
  position: absolute;
  width: 100%;
  background: $layout-color;
  top: 100%;
  margin-top: 10px;
  border-radius: 3px;
  z-index: 2;
  padding: 0;
  list-style: none;
  max-height: 9em;
  overflow-y: auto;
  li {
    padding: 5px;
  }
}

.index-article {
  font-size: 22px;
  font-family: $bold;
  margin: 35px 0 30px 0;
  line-height: 30px;
  @media(max-width: $sm-device) {
    margin: 15px 0 10px 0;
  }
}

.type-work-container {
  background: $layout-color;
  padding: 60px 0;
  margin: 30px 0;
  @media(max-width: $sm-device) {
    padding: 30px 0;
  }
  .btn-primary {
    box-shadow: 0 2px 8px #B4CFDC;
  }
  img {
    width: 45%;
    @media(max-width: $sm-device) {
      width: 100%;
    }
  }
}

.type-work {
  &__article {
    font-family: $bold;
    font-size: 22px;
    margin-bottom: 35px;
    @media(max-width: $sm-device) {
      margin-bottom: 15px;
    }
  }
  &__text {
    font-family: $light;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 45px;
    @media(max-width: $sm-device) {
      margin-bottom: 15px;
    }
  }
}

.cats-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  &__item {
    width: 25%;
    padding: 15px;
    @media(max-width: $md-device) {
      width: 33%;
    }
    @media(max-width: $sm-device) {
      width: 50%;
      padding: 3px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 155px;
    background-position: 50% 50% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    text-decoration: none;
    position: relative;
    @media(max-width: $sm-device) {
      height: 140px;
    }
    &:before {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(34, 54, 69, .4);
      position: absolute;
      transition: .2s ease-out;
    }
    &:hover, &:focus {
      text-decoration: none;
      color: $white;
      box-shadow: 0 5px 10px rgb(151, 161, 186);
      &:before {
        transition: .2s ease-out;
        background: rgba(34, 54, 69, .6);
      }
    }
    span {
      color: $white;
      padding: 5px;
      font-size: 17px;
      font-family: $bold;
      display: block;
      z-index: 2;
      text-align: center;
      @media(max-width: $sm-device) {
        font-size: 15px;
      }
    }
  }
}

.nav-tabs-arm {
  .nav-tabs {
    border: none;
  }
  .nav > li > a {
    padding: 4px 12px;
    font-size: 15px;
    border-radius: 3px;
    color: $input-color;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: $white;
    border: 1px solid $accent-color;
    border-radius: 3px;
    color: $accent-color-hover;
  }
}

//list-order start
.list-order {
  margin-top: 20px;
  &__box {
    box-shadow: 0 1px 8px rgb(212, 213, 222);
    padding: 15px 20px 0 20px;
    position: relative;
    @media(max-width: $sm-device) {
      padding: 10px 10px 0 10px;
    }
    &.highlited {
      border: 1px solid $accent-color;
    }
  }
  &__title {
    margin-bottom: 10px;
    a {
      font-size: 19px;
      font-family: $bold;
      color: $main-color;
      text-decoration: none;
      outline: none;
      &:hover, &:focus {
        color: $accent-color-hover;
        text-decoration: none;
      }
    }
    .c-icon-fixed {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #E51E4E;
    }
    .fa {
      font-size: 15px;
    }
    .arm-pro {
      top: -4px;
      position: relative;
    }
  }
  &__price {
    font-size: 19px;
    margin-bottom: 13px;
  }
  &__des {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 13px;
    padding-bottom: 0;
  }
  .l-item-features {
    margin: 10px -20px 0 -20px;
    @media(max-width: $sm-device) {
      margin: 10px -10px 0 -10px;
    }
  }
}

//list-order end

.about {
  @media(max-width: $sm-device) {
    text-align: center;
  }
  &__img {
    text-align: right;
    @media(max-width: $sm-device) {
      text-align: center;
      margin-bottom: 10px;
    }
    &_first {
      width: 53px;
      margin-top: -10px;
    }
    &_second {
      width: 38px;
      height: 50px;
      margin-top: -13px;
    }
    &_thread {
      width: 38px;
      margin-top: -6px;
      height: 39px;
    }
    &_four {
      margin-top: -13px;
      width: 38px;
      height: 50px;
    }
  }
  &__img-box {
    margin-left: calc(100% - 60px);
    width: 60px;
    text-align: center;
    @media(max-width: $sm-device) {
      margin-left: 0;
      width: auto;
    }
  }
  &__article {
    font-family: $medium;
    font-size: 16px;
  }
  &__text {
    font-family: $light;
    strong {
      font-family: $medium;
    }
  }
}

//list-users start
.list-users {
  a {
    text-decoration: none;
  }
  &__box {
    box-shadow: 0 1px 8px rgb(212, 213, 222);
    padding: 15px 20px 0 20px;
    position: relative;
    margin-bottom: 20px;
    @media(max-width: $sm-device) {
      padding: 10px 10px 0 10px;
    }
    &.highlited {
      border: 1px solid $accent-color;
    }
  }
  &__header {
    display: flex;
    margin-bottom: 10px;
    .label {
      position: relative;
      top: -4px;
    }
  }
  &__avatar {
    margin-right: 10px;
    position: relative;
    display: inline-block;
    outline: none;
  }
  &__name {
    a {
      font-size: 16px;
      color: $main-color;
      text-decoration: none;
      outline: none;
      &:hover {
        color: $accent-color;
      }
    }
  }
  .l-item-features {
    margin: 10px -20px 0 -20px;
    @media(max-width: $sm-device) {
      margin: 10px -10px 0 -10px;
    }
  }
  &__des {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 13px;
    padding-bottom: 0;
  }
  .f-propose-works {
    margin-left: 0 !important;
  }
}

//list-users  end



























