//header start
.l-topBar.not-logged {
  background: $layout-color;
  border-bottom: none;
  a {
    font-weight: normal;
    color: $main-color;
    font-size: 15px;
    &:hover {
      color: $accent-color-hover;
    }
  }
}

.navbar-header  {
  display: flex;
  align-items: center;
  @media(max-width: $md-device) {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
    flex-direction: row-reverse;
    justify-content: space-between;
    .navbar-toggle {
      margin-top: 0;
    }
  }
  .navbar-header-dropdown-toggle {
    position: relative;
    left: auto;
    bottom: auto;
    top: 5px;
    color: $main-color;
    @media(max-width:$md-device) {
      padding-left: 15px;
    }
    @media(max-width:$sm-device) {
      position: absolute;
      left: 175px;
      top: 80%;
    }
    @media(max-width:$xs-device) {
      left: 30px;
    }
    span {
      font-size: 15px;
      color: $main-color;
      border-bottom: none;
      font-family: $regular;
    }
    .caret {
      color: $main-color;
    }
  }
}

.navbar-collapse {
  @media(max-width: $md-device) {
    border-top: none !important;
  }
}

.c-dropdown {
  left: 130px;
  @media(max-width: $md-device) {
    left: 0;
  }
  @media(max-width: $xs-device) {
    top: 120% !important;
  }
}

.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  font-family: $regular;
  font-weight: normal;
}

.navbar-default {
  background: $white;
  border-bottom: 1px solid $border-color;
}
.navbar-default .navbar-nav > li > a:hover {
  color: $accent-color;
}

.navbar-default .navbar-nav > li.open > a, .navbar-default .navbar-nav > li.open > a:hover, .navbar-default .navbar-nav > li.open > a:focus {
  color: $accent-color;
}
.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li.active > a:focus {
  color: $accent-color;
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background: $accent-color;
  &:after {
    border-bottom-color: $accent-color;
  }
}
//header end

//btn start

.btn {
  font-family: $bold;
  font-weight: normal;
  outline: none;
  white-space: normal;
  padding: 6px 12px;
  font-size: 14px;
}

.btn-primary {
  background-color: $accent-color;
  border-color: $accent-color;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: $accent-color-hover;
  border-color: $accent-color-hover;
}
.open .dropdown-toggle.btn-primary {
  background-color: $accent-color-hover;
  border-color: $accent-color-hover;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: $accent-color-hover;
  border-color: $accent-color-hover;
}


.clear-btn {
  display: block;
  padding: 4px 10px;
  color: $accent-color;
  border-radius: 3px;
  border: 1px solid $accent-color;
  text-decoration: none;
  outline: none;
}

//btn end


//l-search-bar start
.l-search-bar {
  padding-left: 0;
  padding-right: 0;
  background: none;
  .form-control {
    height: 34px;
  }
  .l-search-button {
    height: 34px;
    color: $input-color
  }
}
//l-search-bar end

//form-control start
.form-control {
  border: none;
  height: 34px;
  background: $layout-color-input;
  box-shadow: none;
  color: $main-color;
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $input-color;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $input-color;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $input-color;
  }
}
//form-control end

//l-list-heading start
.l-list-heading {
  border-bottom: none;
  padding-bottom: 0;
}
.l-list-heading > ul > li.active a {
  color: $accent-color;
}

.l-list-heading > ul > li > a {
  color: $input-color ;
}
//l-list-heading end

//pro start
.pro {
  background: #9e49c1;
  text-transform: uppercase;
  color: $white;
  font-size: 12px;
  font-family: $medium;
  padding: 2px 5px;
}
//pro end

//l-tag start
.l-tag {
  padding: 0;
  font-size: 13px;
  border: none;
  color: $input-color;
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 7px;
  line-height: 1;
}
//l-tag end

//l-item-features start

.l-item-features {
  background: $layout-color-input;
  padding: 5px 20px;
  @media(max-width: $sm-device) {
    padding: 5px 10px;
    margin: 10px -10px 0 -10px;
  }
  .comments-link {
    padding-right: 0;
    float: right;
    @media(max-width: $sm-device) {
      float: inherit;
    }
    a {
      text-decoration: none;
    }
    &_user {
      a {
        text-decoration: none;
        outline: none;
      }
      .o-good {
        color: $positive-color;
      }
      .o-bad {
        color: $action-color;
      }
    }
  }

}
.l-item-features li + li {
  border: none;
}
//l-item-features end

//l-borderedBlock start
.l-borderedBlock-armget {
  .l-borderedBlock {
    border: none;
    border-radius: 0;
  }
  .l-leftColumn a.h6:hover, .l-leftColumn a.h6.active {
    background: $white;
    color: $main-color;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
  .l-leftColumn h6, .l-leftColumn .h6 {
    border-bottom: none;
    font-size: 14px;
    font-family: $bold;
    color: $main-color;
    padding: 10px 0;
    .fa-chevron-down {
      display: none;
    }
    .fa-chevron-right {
      display: none;
    }
  }

  .l-left-categories > li.checked > span {
    .fa-check-circle {
      color: $accent-color-hover;
    }
  }
  .l-left-categories > li a:hover, .l-left-categories > li span:hover {
    span {
      color: $accent-color-hover;
    }
  }
  .l-left-categories > li span span {
    display: inline-block;
    width: calc(100% - 20px);
  }
  .l-left-categories > li span span.pro {
    display: inline;
    width: auto;
    font-family: $medium;
    font-size: 12px;
  }
  .l-borderedBlock .l-inside {
    border-bottom: none;
    padding: 0 0 0 0;
  }
  .l-left-categories_mobile > li a {
    padding: 10px 0;
  }
  .fa-circle {
    color: $accent-color !important;
  }
  .l-left-categories_mobile > li.active ul li label {
    padding: 7px 20px 0 2px;
  }
  .l-left-categories_mobile > li.active > a {
    padding: 10px;
    background: $layout-color;
  }

  .l-left-categories > li span, .l-left-categories > li a {
    color: $main-color;
    font-family: $light;
    font-weight: normal;
    font-size: 14px;
  }
  .l-left-categories > li ul {
    margin: 5px 0 0 16px;
    li {
      padding-bottom: 4px;
      @media(max-width: $md-device) {
        padding-bottom: 0;
      }
    }
  }
  .l-left-categories > li .fa {
    font-size: 17px;
    //color: #A9ADC1;
  }

  .l-left-categories > li a, .l-left-categories > li span {
    .fa {
      color: #A9ADC1;
    }
  }

  .l-left-categories > li ul li.checked a, .l-left-categories > li ul li.checked span {
    .fa {
      color: $accent-color-hover;
    }
  }

  .l-left-categories > li span:hover, .l-left-categories > li a:hover {
    color: $accent-color-hover;
  }
  .l-left-categories > li ul li.checked span, .l-left-categories > li ul li.checked a {
    color: $accent-color-hover;
  }
  .checkbox {
    padding-left: 0;
    margin-left: 0;
    input[type="checkbox"] {
      opacity: 0;
      visibility: hidden;
      width: 0;
      height: 0;
      position: absolute;
      &:checked {
        & + span {
          &:before {
            content: '\f046';
            color: $accent-color-hover;
          }
        }
      }
    }
    span {
      font-family: $light;
      text-decoration: none;
      user-select: none;
      color: $main-color;
      border-bottom: none;
      &:before {
        color: #A9ADC1;
        content: '\f096';
        font-family: 'FontAwesome';
        font-size: 17px;
      }
    }
  }

  .radio {
    padding-left: 0;
    margin-left: 0;
    input[type="radio"] {
      opacity: 0;
      visibility: hidden;
      &:checked {
        & + span {
          &:before {
            content: '\f111';
            color: $accent-color-hover;
          }
        }
      }
    }
    span {
      font-family: $light;
      user-select: none;
      &:before {
        color: #A9ADC1;
        content: '\f10c';
        font-family: 'FontAwesome';
        font-size: 17px;
      }
    }
  }
  .fa-check-square-o {
    color: $accent-color !important;
  }
}

//l-borderedBlock end

//pagination start

.pagination li.active a, .pagination li.active a:hover, .pagination li.active span, .pagination li.active span:hover {
  background: $white;
  border: 1px solid $accent-color;
  color: $accent-color;
  border-radius: 3px;
}
.pagination > li > a, .pagination > li > span{
  border: none;
  background: $white;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background: $white;
  border-radius: 0;
  color: $accent-color;
}
.pagination li a {
  color: $main-color;
}
.pagination li a:hover, .pagination li span:hover {
  color: $accent-color;
}
//pagination end

//l-carousel-container start
.l-carousel-box {
  margin-top: -30px;
  background: $layout-color;
  margin-bottom: 20px;
  .l-carousel-container {
    padding: 10px 0;
    margin-top: 0;
  }
  .f-freelancer-name {
    text-decoration: none;
    color: $main-color;
    font-size: 14px;
    font-family: $bold;
    margin-bottom: 5px;
    &:hover {
      color: $accent-color;
    }
  }
  .form-group {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-family: $light;
  }
}
//l-carousel-container end

.alert.alert-info {
  background: $white;
  box-shadow: 0 1px 5px #D4D5DE;
  font-size: 13px;
  font-family: $regular;
  color: $main-color;
  display: flex;
  &:before {
    font-size: 22px;
    margin-right: 10px;
    content: '\f05a';
    font-family: 'FontAwesome';
    color: #E51E4E;
  }
}

//f-propose-works start
.f-propose-works  {
  img {
    max-height: 110px;
  }
}
//f-propose-works end

.tooltip-inner {
  border-radius: 3px;

}















