body {
  font-family: $regular;
  color: $main-color;
}

a {
  color: $accent-color;
  transition: .2s ease-out;
}

.ajax-link {
  span {
    border-bottom: none;
  }
}

.flex {
  display: flex;
  &_center {
    align-items: center;
  }
  &_wrap {
    flex-wrap: wrap;
  }
}

select.form-control {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../img/sort-down.svg)  no-repeat $layout-color-input;
  background-size: 6px;
  background-position: right 5px top 14px;
  &:-ms-expand {
    display: none;
  }

}

.noUi-connect {
  background-color: #008dd2;
}

.help-block {
  strong {
    color: $main-color;
  }
}

.arm-pro {
  position: relative;
  top: -2px;
  img {
    width: 35px;
  }
}

.fa.fa-anchor {
  &:before {
    content: '';
    background: url('../../img/icon/anchor.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    display: inline-block;
  }
}

.fa.fa-briefcase {
  &:before {
    content: '';
    background: url('../../img/icon/briefcase.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 12px;
    display: inline-block;
  }
}

.fa.fa-clock-o {
  position: relative;
  top: 1px;
  &:before {
    content: '';
    background: url('../../img/icon/clock.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 13px;
    display: inline-block;
  }
}

.fa.fa-shield {
  &:before {
    content: '';
    background: url('../../img/icon/shield.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 15px;
    display: inline-block;
  }
}

.fa.fa-bar-chart-o {
  &:before {
    content: '';
    background: url('../../img/icon/rating.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 13px;
    display: inline-block;
  }
}

.fa.fa-dollar {
  position: relative;
  top: 2px;
  &:before {
    content: '';
    background: url('../../img/icon/money.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    display: inline-block;
  }
}

.fa.fa-check-circle {
  &:before {
    content: '';
    background: url('../../img/icon/user.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 14px;
    display: inline-block;
  }
}

.fa.fa-calendar {
  position: relative;
  top: 1px;
  &:before {
    content: '';
    background: url('../../img/icon/calendar.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    display: inline-block;
  }
}

.fa.fa-money {
  &:before {
    content: '';
    background: url('../../img/icon/purse.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    display: inline-block;
  }
}

.label-busy, .label-success, .label-danger, .label-warning {
  text-transform: uppercase;
  border-radius: 0;
  .dropdown-menu {
    text-transform: none;
  }
}

.svc-post {
  border-color: #05bdfb;
  .panel-heading {
    border-color: #05bdfb;
    background-color: #cbedf5 ;
  }
}