$main-color: #223645;
//
//$light-color: #8B98A1;

$action-color: #E51E4E;
$positive-color: #24b032;


//
$accent-color: #34B7F8;
$accent-color-hover: #008dd2;
//$accent-color-hover: #0d90e4;
//
$border-color: #c7d9df;

$layout-color: #F7F9FA;
$layout-color-input: #F4F6F8;

$input-color: #8EA2B0;

$white: #ffffff;


//fonts
$regular: 'Roboto-Regular';
$bold: 'Roboto-Bold';
$medium: 'Roboto-Medium';
$light: 'Roboto-Light';


// RESPONSIVE
$lg-device: 1199px;
$md-device: 991px;
$sm-device: 767px;
$xs-device: 425px;
